<script>
  document.documentElement.classList.add('js');
  if (location.pathname === '/' || location.pathname === '/index.html') {
    document.documentElement.classList.add('home-page');
  }
</script>
